@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=PT Sans Caption:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Besley&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');

:root {
  --background-color-const: #EAEAEA;
  --accent-color: #FF2E63;
}

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
}

#body_id {
  background-color: var(--background-color-const);
}

.navbar {
  padding: 20px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  border-bottom: 5px solid #222831;
}


.navbar .main {
  color: var(--accent-color);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  font-size: 20px;
  font-family: 'Lato';
  font-weight: 700;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: var(--accent-color);
}
.content {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
}

.blog-preview {
  padding: 10px 16px;
  margin: 0 0 50px 0;
  border-bottom: 1px solid #30475E;
}
.blog-preview:hover {
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 25px;
  font-family: 'PT Sans Caption', serif;
  color: var(--accent-color);
  margin-bottom: 10px;
  font-weight: bold;
}

.blog-preview a{
  text-decoration: none;
}

/* blog details page */


.blog-details .create {
  margin: 20px 0;
}
.blog-details #delEdit {
  background: var(--accent-color);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.blog-details .authorName{
    font-size: 24px;
    color: var(--accent-color);
    font-weight: bold;
}

/* create new blog form */
.create {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  font-family: 'PT Sans Caption', serif;
  display: block;
}
.create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid var(--background-color);
  box-sizing: border-box;
  display: block;
}
.create button {
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.not-found h1{
    color: var(--accent-color);
    font-size:100px;
}
.not-found p{
    font-size:30px;
}
.userName{
    color: var(--accent-color);
    font-size:25px;
    margin-bottom: 5px;
}
.userDescription{
    color:gray;
    font-size: 20px;
    margin-bottom: 20px;
}
.userDelete {
    background: var(--accent-color);
    color: #fff;
    border: 0;
    padding: 6px;
    border-radius: 8px;
    margin-bottom: 55px;
    cursor: pointer;
}

.ql-editor{
  min-height: 300px;
  max-height: 300px;
  border-top: 2px solid black;
}

.ql-toolbar.ql-snow{
    border:none !important;
}

.ql-container.ql-snow{
    border:none !important;
}
